/* overall */
html {
	height: 100%;
}

body {
	margin: 0;
	padding:0;
	height:100%;
}


/* header */

.header-wrapper,
.other-wrapper {
	margin: 0 auto;
	text-align: center;
}
.header,
.other {
	height: 100%;
	width: 100%;
	max-width:100%;
	position:top;
}

.project-description {
	width: 60%;
	margin: 2% 20%;
}


/* body */

.work {
	padding-bottom: 30%;
}

.projects-wrapper {
	max-width: 100%;
	margin: 0 0 0 10%;
}

.project-details {
	display: none;
}

.work .projects-wrapper a:hover img {
	opacity: 1;
}

.work .projects-wrapper a:hover .project-details {
	display: block;
}

a.project {
	width: 20%;
	padding: 5% 1% 1% 1%;
	text-align: center;
	float: left;
	background-color: transparent;
	text-decoration: none;
}

.work img {
	border-radius: 50%;
	width: 150px;
	height: auto;
	opacity: .5;
}

.project-details {
	min-width: 100%;
	margin: 2%;
	clear: both;
}

.project-samples img {
	width: 25%;
	height: auto;
	margin: 1%;
}

.project-samples img.computer {
	width: 40%;
	height: auto;	
}

.project-samples iframe {
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
	width:980px; 
	height:540px;
}

/* other */

.squiggle {
	opacity: 0;
}

.other a:hover .squiggle {
	opacity: 1;
}

/* projects */
.project-image {
	max-height:400px;
	width:100%;
	background-color: white; 
}

.project-image img {
	max-height:400px;
	padding:10px;
}

/* footer */

footer {
	position: absolute;
	bottom:-300px;
	left:0;
	height: 50px;
	margin-top: -300px;
	min-width: 100%;
	max-width:100%;
	margin: 0;
}

