/* overall */
html {
	height: 100%;
}

body {
	margin: 0;
	padding:0;
	height:100%;
}


/* header */

.header-wrapper,
.other-wrapper {
	margin: 0 auto;
	text-align: center;
}
.header,
.other {
	height: 100%;
	width: 100%;
	max-width:100%;
	position:top;
}

.project-description {
	width: 60%;
	margin: 2% 20%;
}

/* menu */
.menu {
	position: absolute;
	top: 10px;
	right: 10px;
	float: right;
}

.menu ul {
	text-align: right;
	margin-top: 50px;
	background-color: 
	width: 80px;
	height:240px;
	background-color: white;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 255, .2);
	display: none;
}

.menu ul,
.menu ul a {
	line-height: 2;
	font-size: 11px;
	list-style: none;
	text-decoration: none;
	padding: 10px 10px 0px 10px;
}

.menu img {
	width: 30px;
	height: auto;
	position: absolute;
	top: 10px;
	right: 20px;
}


/* body */

.work {
	padding-bottom: 30%;
}

.projects-wrapper {
	max-width: 100%;
	margin: 0 0 0 10%;
}

.project {
	height: 150px;
	margin-bottom: 50px;
}

.project-details {
	display: none;
}

.work .projects-wrapper a:hover img {
	opacity: 1;
}

.work .projects-wrapper a:hover .project-details {
	display: block;
}

a.project {
	width: 20%;
	padding: 5% 1% 1% 1%;
	text-align: center;
	float: left;
	background-color: transparent;
	text-decoration: none;
}

.work img {
	border-radius: 50%;
	width: 150px;
	height: auto;
	opacity: .5;
}

.project-details {
	min-width: 100%;
	margin: 2%;
	clear: both;
}

.project-samples img {
	width: 25%;
	height: auto;
	margin: 1%;
}

.project-samples img.computer {
	width: 25%;
	height: auto;	
}

.project-samples iframe {
	width:980px; 
	height:540px;
}

.project-samples iframe:hover {
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

/* other */

.squiggle {
	opacity: 0;
}

.other a:hover .squiggle {
	opacity: 1;
}

/* projects */
.project-image {
	max-height:400px;
	width:100%;
}

.other-wrapper .project-image img {
	max-height:400px;
	padding:10px;
	margin-bottom: 50px;
}

.creative,
.side {
	width: 100%;
	clear: both;
	height: 100%;
}


/* footer */

footer {
	position: absolute;
	bottom: 0px;
	left:0;
	height: 50px;
	min-width: 100%;
	max-width:100%;
	margin: 0;
}




