/* overall */
html {
	height: 100%;
}

body {
	margin: 0;
	padding:0;
	height:100%;
}


/* header */

.header-wrapper,
.other-wrapper {
	margin: 0 auto;
	text-align: center;
}
.header,
.other {
	height: 100%;
	width: 100%;
	max-width:100%;
	position:top;
}


/* body */

.projects {
	padding-bottom: 50px;
}

.projects-wrapper {
	max-width: 100%;
	margin: 0 0 0 10%;
}

.project-details {
	display: none;
}

.projects .projects-wrapper a:hover img {
	opacity: 1;
}

.projects .projects-wrapper a:hover .project-details {
	display: block;
}

a.project {
	width: 20%;
	padding: 5% 1% 1% 1%;
	text-align: center;
	float: left;
	background-color: transparent;
	text-decoration: none;
}

.projects img {
	border-radius: 50%;
	width: 150px;
	height: auto;
	opacity: .5;
}

.project-details {
	min-width: 100%;
	margin: 2%;
	clear: both;
}



/* footer */

footer {
	position:absolute;
	bottom:0;
	left:0;
	height: 50px;
	margin-top: -50px;
	min-width: 100%;
	max-width:100%;
	margin: 0;
}

