---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Courier New, monospace;
$base-font-size: 14px;
$small-font-size: $base-font-size * .875;
$base-line-height: 1.5;
$tight-line-height: $base-line-height * .75;

$spacing-unit:     30px;

$background-color: #fff;
$brand-color:      #CC5500;
/*$highlight-color: #00FFFF;  */ /* cyan highlight */
/*$accent-color: #afaedc; /* purple accent */
$accent-color: #CE99CD; /* purple accent update */
$highlight-color: #E9F322; /* lime highlight */


$grey-color:       #1a1a1a;
$grey-color-light: lighten($grey-color, 100%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
