/* typekit */
  @import url("https://use.typekit.net/kxt6flw.css");

/* neon signs */

h1.other {
    font-family: "acier-bat-outline", avenir;
    font-size: 48px;
    -webkit-animation: color-change 2s infinite;
    -moz-animation: color-change 2s infinite;
    -o-animation: color-change 2s infinite;
    -ms-animation: color-change 2s infinite;
    animation: color-change 2s infinite;
}

    @-webkit-keyframes color-change {
        0% { color: black; text-shadow: 2px 2px 2px rgba(333,333,333,.4); }
        30% { color: black; text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
        60% { color: black; text-shadow: 2px 2px 2px rgba(333,333,333,.4); }
        90% { color: black; text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
    }
    @-moz-keyframes color-change {
        0% { color: black; text-shadow: 2px 2px 2px rgba(333,333,333,.4); }
        30% { color: black; text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
        60% { color: black; text-shadow: 2px 2px 2px rgba(333,333,333,.4); }
        90% { color: black; text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
    }
    @-ms-keyframes color-change {
        0% { color: black; text-shadow: 2px 2px 2px rgba(333,333,333,.4); }
        30% { color: black; text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
        60% { color: black; text-shadow: 2px 2px 2px rgba(333,333,333,.4); }
        90% { color: black; text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
    }
    @-o-keyframes color-change {
        0% { color: black; text-shadow: 2px 2px 2px rgba(333,333,333,.4); }
        30% { color: black; text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
        60% { color: black; text-shadow: 2px 2px 2px rgba(333,333,333,.4); }
        90% { color: black; text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
    }
    @keyframes color-change {
        0% { color: black; text-shadow: 2px 2px 2px rgba(333,333,333,.4); }
        30% { color: black; text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
        60% { color: black; text-shadow: 2px 2px 2px rgba(333,333,333,.4); }
        90% { color: black; text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
     }

h1.name {
    font-family: "acier-bat-outline", avenir;
    font-size: 48px;
    -webkit-animation: color-change 8s infinite;
    -moz-animation: color-change 8s infinite;
    -o-animation: color-change 8s infinite;
    -ms-animation: color-change 8s infinite;
    animation: color-change 8s infinite;
}

    @-webkit-keyframes color-change {
        0% { color: rgba(255,0,0,1); text-shadow: 2px 2px 2px rgba(255,255,0,.4); }
        50% { color: rgba(0,0,255,1); text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
        100% { color: rgba(255,0,0,1); text-shadow: 2px 2px 2px rgba(255,255,0,.4); }
    }
    @-moz-keyframes color-change {
        0% { color: rgba(255,0,0,1); text-shadow: 2px 2px 2px rgba(255,255,0,.4); }
        50% { color: rgba(0,0,255,1); text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
        100% { color: rgba(255,0,0,1); text-shadow: 2px 2px 2px rgba(255,255,0,.4); }
    }
    @-ms-keyframes color-change {
        0% { color: rgba(255,0,0,1); text-shadow: 2px 2px 2px rgba(255,255,0,.4); }
        50% { color: rgba(0,0,255,1); text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
        100% { color: rgba(255,0,0,1); text-shadow: 2px 2px 2px rgba(255,255,0,.4); }
    }
    @-o-keyframes color-change {
        0% { color: rgba(255,0,0,1); text-shadow: 2px 2px 2px rgba(255,255,0,.4); }
        50% { color: rgba(0,0,255,1); text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
        100% { color: rgba(255,0,0,1); text-shadow: 2px 2px 2px rgba(255,255,0,.4); }
    }
    @keyframes color-change {
        0% { color: rgba(255,0,0,1); text-shadow: 2px 2px 2px rgba(255,255,0,.4); }
        50% { color: rgba(0,0,255,1); text-shadow: 2px 2px 2px rgba(0,255,177, .4); }
        100% { color: rgba(255,0,0,1); text-shadow: 2px 2px 2px rgba(255,255,0,.4); }
    }

/* body */

h2,
h2.a,
h2.project-title {
    font-family: "avenir", sans-serif;
    font-size: 28px;
    line-height: 1;
    text-align: center;
}

h3,
h3 a,
h3.project-subtitle {
    font-family: "avenir", sans-serif;
    font-size: 21px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}

p.intro,
.project-description,
footer p,
.other a,
.project-title {
    font-family: "avenir", didot;
    font-size: 14px;
    line-height: 2;
    text-align: center;
}

p.intro a,
.other a,
.detail-link {
    text-decoration: none;
    color: #25C69A;
    list-style: none;
    .project-title {
        color: blue;
        text-decoration: none;
    }
}

p.intro a:hover,
.other a:hover {
        color: #0000FF;
    }


/* footer */

footer a {
    padding: 1%;
    text-align: center;
    font-family: "avenir", didot;
    color: #25C69A;
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
}

footer a:hover {
        color: blue;
    }


