ErrorDocument 400 hello/error.html
ErrorDocument 401 hello/error.html
ErrorDocument 403 hello/error.html
ErrorDocument 404 hello/error.html
ErrorDocument 500 hello/error.html
ErrorDocument 502 hello/error.html
ErrorDocument 504 hello/error.html

Redirect 301 / http://sheamolloy.info/
Redirect 302 / http://sheamolloy.info/

Redirect /index.html http://sheamolloy.info
