<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <div class="nav-wrap" id="home">
          <a class="home-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div class="nav-wrap" id="work">
          {% for page in site.pages %}
              {% if page.categories == 'lp' %}  
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | capitalize }}</a>
              {% endif %}
          {% endfor %}
        </div>
      </div>
    </nav>

  </div>

</header>
