/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/** Variables **********************************************/
$base-font-family:              Courier New, monospace;
$base-line-height:              1.5em;
$horizontal-spacing-unit:       20px;
$vertical-spacing-unit:         40px;
$nav-height:                    50px;

/* portfolio tinkering */
$img_spacing: 10px 5px; 
$img_height: 300px;
$caption_font_size: 12px;
$caption_color: #888;

$grey-color-dark: #1c1c1c;   /* footer */
$grey-color-light: #8c8c8c;  /* navigation bar border */
$text-color: #000;
$text-color-light: #fff;

/* Set theme color *************************/
$theme-color:   $brand-color;

/************************************************************/

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 100;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}
section {
    margin: 5px 10px;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin: 5px 0px;
}

.alignright {
    float: right;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
hr.section {
    margin: calc($vertical-spacing-unit/2) 0;
}

th{
    text-align: left;
}

mark {
    background-color: $highlight-color;
}

p::selection,
div::selection,
li::selection {
    background-color: $highlight-color;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $horizontal-spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}


/**
 * Links
 */
a {
    color: $text-color;
    text-decoration: none;
    padding:0px;
    margin-bottom: calc($vertical-spacing-unit/2);
    &:hover {
        background-color: $highlink-color;
        color: $text-color;
        text-decoration: underline ;
    }
    &::selection {
        background-color: $highlink-color;
    }
}

article a {
    color: $theme-color;
    font-weight: 200;
    &:hover {
        text-decoration: none;
    }
}
#home {
    text-decoration: none;
    padding: 0px;
}
#crumb {
    color: $theme-color;
    padding: 0px;
}
.post-header a {
    text-decoration: underline;
    text-underline-offset: 8px;
    &:hover {
        background-color: $highlink-color;
        text-decoration: underline;
    }
}
.post-resource {
    background-color: $accent-color;
    font-size: $small-font-size;
    color: $text-color-light;
    padding:10px;
    border-radius: 50px;
    text-align: center;
    &:hover {
        background-color: $highlink-color;
    }
}
.category-link {
    border: 1px solid white;
    color: $brand-color;
}
.category-link#active ,
.post-cat {
    color: $brand-color;
    border: 1px dotted $brand-color;
    text-align: center;
    padding: 2px;
    margin: 2px;
    &:hover {
        background-color: $highlink-color;
        border: 1px solid $highlink-color;
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $text-color;
    border-left: 10px solid $grey-color-light;
    padding-left: calc($horizontal-spacing-unit/2);
    font-size: 1.8em;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: .8em;
    border-radius: 3px;
    background-color: #ddd;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */ 

.wrapper {
    max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
    max-width:         calc(800px - (#{$horizontal-spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $horizontal-spacing-unit;
    padding-left: $horizontal-spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit}));
        max-width:         calc(800px - (#{$horizontal-spacing-unit}));
        padding-right: calc($spacing-unit/2);
        padding-left: calc($spacing-unit/2);
    }
}


/**
 * Clearfix
 */
%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

