---
layout: default
---
<div class="post">
  <header class="post-header">
    <div class="page-title"><a href="{{ page.root }}">{{ page.title }}</a> //</div> 
    {% if page.title == 'Projects' and page.categories =='lp' %}  
      {% assign categories =  site.portfolio | map: 'categories' | uniq %}
        <div class="page-desc">
          {% for cat in categories %}
            {%- if forloop.first -%}
              <a href="{{ site.baseurl }}{{ page.permalink }}{{ cat | downcase }}" class="category-link">{{ cat | downcase }}</a>&nbsp;and&nbsp;
            {%- elsif forloop.last -%}
              <a href="{{ site.baseurl }}{{ page.permalink }}{{ cat | downcase }}" class="category-link">{{ cat | downcase }}</a>&nbsp;portfolio
            {%- endif -%}
          {%- endfor -%}
        </div> 
    
    {% elsif page.title == 'Work'  and page.categories =='lp' %}
      {% assign categories =  site.posts | map: 'categories' | uniq %}
          <div class="page-desc">
            {% for cat in categories %}
            {%- if forloop.length > 0 -%}
              {% if forloop.first == false %}&nbsp;{%- endif -%}
              {% if forloop.last %}and&nbsp;{%- endif -%}
              <a href="{{ site.baseurl }}{{ page.permalink }}{{ cat | downcase }}" class="category-link">{{ cat | downcase}}{% if cat != 'Research' %}s{%- endif -%}</a>{% unless forloop.last %},{% endunless -%}
            {%- endif -%}
            {% endfor %}
          </div>  

    {% else %}
      <div class="page-desc">{{ page.description }}</div> 
    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
