---
layout: default
---
<div class="post">
<!--   {% for cat in categories %}
      <li><a href="{{ site.baseurl }}{{ proj.url }}">{{ cat }}</a></li>
  {% endfor %} -->
  <header class="post-header">
    {% assign categories =  site.portfolio | map: 'categories' | uniq %}
    {% if page.title %}
      <div class="page-title">{{ page.title }} //</div> 
    {% else %}
      <div class="page-subhead">{{ page.description }} </div>
    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
