---
layout: default
---
<div class="post">
  <header class="post-header">
    <div class="page-title">{{ page.title }} //</div> 
    {% if page.title == 'Projects' %}  
      {% assign categories =  site.portfolio | map: 'categories' | uniq %}
        <div class="page-desc">
          {% for cat in categories %}
            {%- if forloop.first -%}
              <a href="{{ site.baseurl }}{{ page.permalink }}{{ cat | downcase }}" class="category-link">{{ cat }}</a> and
            {%- elsif forloop.last -%}
              <a href="{{ site.baseurl }}{{ page.permalink }}{{ cat | downcase }}" class="category-link">{{ cat }}</a> portfolio
            {%- endif -%}
          {%- endfor -%}
        </div> 
    
    {% elsif page.title == 'Work' %}
      {% assign categories =  site.posts | map: 'categories' | uniq %}
          <div class="page-desc">
            {% for cat in categories %}
            {%- if forloop.length > 0 -%}
              {% if forloop.last %}and{%- endif -%}
              <a href="{{ site.baseurl }}{{ page.permalink }}{{ cat | downcase }}" class="category-link">{% if forloop.last == false %} {%- endif -%}{{ cat }}{% if cat != 'Research' %}s{%- endif -%}</a>{% unless forloop.last %}, {% endunless -%}
            {%- endif -%}
            {% endfor %}
          </div>  

    {% else %}
      <div class="page-desc">{{ page.description }}</div> 
    {% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
